.App {
  text-align: center;
}

#dragarea {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 10px;
}

img,
video {
  max-width: 100%;
  max-height: 100vh;
}

#viewer {
  width: 80%;
  margin: 0 auto;
}

.c-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.c-button:hover {
  background: #1d49aa;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
